# ignore python files
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# ignore data files
datasets/
*.json
*.xlsx

# ignore local directories
temp/
venv/
.env

# ignore log files
*.log

# mics
.commands.txt